{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "standard",
    "standard-react",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "flowtype",
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : true,
    "__TEST__"     : true,
    "__PROD__"     : true,
    "__COVERAGE__" : false
  },
  "rules": {
    "key-spacing"          : "off",
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"],
    "comma-dangle"         : "off",
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "no-underscore-dangle": "off",
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "polyfills": ["promises", "fetch"]
  }
}
