.liveMatch {

  .title {
    svg.versus {
      height: 72px;
    }

    .advantage-score {
      flex-basis: 20%;
    }

    .match-score-container {
      flex-basis: 80%;
    }

    text-align : center;
    .stats-count {
      margin: 0 15px;
      font-size : 16px;
    }
  }
}
