.top-match {
  margin-bottom : 25px;
  .header {
    a {
      &.active {
        color : #715557;
      }
      cursor: pointer;
    }
  }

  .game-info {
    display: flex;
    justify-content: space-around;
  }
}

